.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 480px;
    background-color: #F3EFF6;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.header {
    text-align: center;
}

.hero__container {
    display: flex;
    flex-direction: column;

}

.hero__container-mid {
    display: flex;
    width: 100%;
    justify-content: center;
}

.degrees__text {
    display: flex;
    margin-left: 100px;
}

.footer {
    display: flex;
    justify-content: center;
}

span,
i,
h1,
h2 {
    color: #7F20D4;
    font-weight: 700;
}

li {
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}

h3 {
    font-weight: 700;
    font-size: 1.7rem;
}

.list__item {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 5px;
}
button {
    background-color: #7F20D4;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;

}